body{
    font-family: 'Roboto',sans-serif;
    align-items: center;
    padding: 0;
    margin: 0;
}
/* Section one */
.section-1{
    display: flex;
    flex-direction: column;
    gap: 150px;
    background-color: #1F2937;
    padding: 20px 275px;
    height: 600px;
    justify-content: flex-start;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.right-links{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap:16px
}
.logo{
    font-size: 24px;
    color:#F9fAf8;
    font-weight: 900;
}
a{
    color:#F9fAf8;
    font-size: 18px;
}
.main-content{
    display: flex;
    align-self: center;
    flex-direction: row;
    width: 100%;
}
.main-text .hero{
    font-size: 48px;
    color:#F9fAf8;
    font-weight: 900;
}
.main-text .hero-sub{
    font-size: 18px;
    color:#e5e7eB;
    margin-bottom: 10px;
}
.main-text button{
    color: white;
    background-color: #3882f6;
    padding: 10px 25px;
    border:none;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 5px;
}
.image{
    width: 500px;
    background-color: rgba(211, 211, 211,0.2);
    flex-shrink: 0;
    flex-basis: auto;
}
.main-text{
    flex:1
}

/* Section 2 */

.section-2{
    display: flex;
    justify-content: center;
    gap:80px;
    flex-direction: column;
    /* padding: 20px 275px; */
    height: 600px;
    align-items: center;
    text-align: center;
}
.info-header{
    text-align: center;
    font-size: 36px;
    color:#1f2937;
    font-weight: 900;
}
.boxes{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
}
.box-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 175px;
    margin:30px;
    flex-shrink: 0;
    flex-basis: auto;
}
.box{
    border:5px solid #3882f6;
    height: 175px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}

/* Section 3 */
.section-3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #e5e7eb;
    padding: 20px 275px;
    flex-direction: column;
}
.section-3 .text{
    font-size: 36px;
    color:#1f2937;
    font-style: italic;
    font-weight: 300;
    width: 900px;
}
.qg{
    font-weight: bold;
    text-align: end;
    font-size: 25px;
}